.containt {
    // border: 1px solid green;
    margin-left: 170px;

    &__headline {
        padding: 30px 0 20px 30px;
        font: 30px Georgia;

        &_city {
            border-bottom: 1px dashed;
        }
    }
    

    

    

}